<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="src/css/css6.css"/>
	</head>
	<body>
		<header></header>
		<nav>
			<div class="nav">
				<h3>Roux Meetups</h3>
				<ul>
					<li><a href="http://localhost:8080/create" method="GET">Home</a></li>
					<li><a href="http://localhost:8080/create1" methods="GET">Speakers <img src="src/img/a.png"/></a></li>
					<li><a href="http://localhost:8080/create2" methods="GET">Feedback</a></li>
					<li><a href="http://localhost:8080/create3" methods="GET">Chat</a></li>
				</ul>
			</div>
		</nav>
		<div class="tu">
			<div class="zhan">
				<div class="kua">
					<h3>Art in Full Bloom</h3>
					<p>with Lorenzo Garcia</p>
					<a href="#"><img src="src/img/Lorenzo_Garcia_tn.jpg"/></a>
				</div>
				<div class="kua">
					<h3>Deep Sea Wonders</h3>
					<p>with Lorenzo Garcia</p>
					<a href="#"><img src="src/img/Hillary_Goldwynn_tn.jpg"/></a>
				</div>
				<div class="kua">
					<h3>The Art of Abstract</h3>
					<p>with Lorenzo Garcia</p>
					<a href="#"><img src="src/img/Riley_Rewington_tn.jpg"/></a>
				</div>
			
		</div>
		</div>
		<footer>
			<div class="footl">
				<h3>Who are we?</h3>
				<p>Draw and ,faladlad d kk laladlakojdajd djhajdhadj ajdahjda
						Draw and ,faladlad d kk laladlakojdajd djhajdhadj ajdahjda
						Draw and ,faladlad d kk laladlakojdajd djhajdhadj ajdahjda
						Draw and ,faladlad d kk laladlakojdajd djhajdhadj ajdahjda</p>
				<p>Draw and ,faladlad d kk laladlakojdajd djhajdhadj ajdahjda
						Draw and ,faladlad d kk laladlakojdajd djhajdhadj ajdahjda
						Draw and ,faladlad d kk laladlakojdajd djhajdhadj ajdahjda
						Draw and ,faladlad d kk laladlakojdajd djhajdhadj ajdahjda</p>
				<h3>Get Busy!</h3>
				<p>ifaj  kafjafj  hajfnjaf afafnajfa jafjanfjaf ajnfafaf <span> laladlakojdajd djhajdh</span></p>
				<h3>Who should come?</h3>
				<ul>
					<li>Aregdg dgdgd dgdgd dgd d dgh </li>
					<li>Purfs jshjsjs sjfsls  sfkskkf s khdadk</li>
					<li>Tauhdadad   iajdajfhajf  ajfafnajfa afjafjah ajhfj </li>
				</ul>
				
			</div>
			<div class="footr">
				<h3>Who should come?</h3>
				<ul>
					<li>Aregdg dgdgd dgdgd dgd d dgh </li>
					<li>Purfs jshjsjs sjfsls  sfkskkf s khdadk</li>
					<li>Tauhdadad   iajdajfhajf  ajfafnajfa afjafjah ajhfj </li>
				</ul>
				<h3>Artwork on display</h3>
				<p>While you attend the onference,head over
				While you attend the onference,head over
				While you attend the</p>
				<ul>
					<li><img src="img/Hillary_Goldwynn_01_tn.jpg"/></li>
					<li><img src="img/Hillary_Goldwynn_02_tn.jpg"/></li>
					<li><img src="img/Hillary_Goldwynn_03_tn.jpg"/></li>
					<li><img src="img/Hillary_Goldwynn_04_tn.jpg"/></li>
					<li><img src="img/Hillary_Goldwynn_05_tn.jpg"/></li>
					<li><img src="img/Hillary_Goldwynn_06_tn.jpg"/></li>
					<li><img src="img/Hillary_Goldwynn_07_tn.jpg"/></li>
					<li><img src="img/Lorenzo_Garcia_01_tn.jpg"/></li>
					<li><img src="img/Lorenzo_Garcia_02_tn.jpg"/></li>
					<li><img src="img/Lorenzo_Garcia_03_tn.jpg"/></li>
					<li><img src="img/Lorenzo_Garcia_04_tn.jpg"/></li>
					<li><img src="img/Riley_Rewington_01_tn.jpg"/></li>
					<li><img src="img/Riley_Rewington_02_tn.jpg"/></li>
					<li><img src="img/Riley_Rewington_03_tn.jpg"/></li>
					<li><img src="img/Riley_Rewington_04_tn.jpg"/></li>
					<li><img src="img/Riley_Rewington_05_tn.jpg"/></li>
					<li><img src="img/Riley_Rewington_06_tn.jpg"/></li>
				</ul>
			</div>
		</footer>
	</body>
</html>
