<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../han/css/css5.css"/>
	</head>
	<body>
		<header></header>
		<nav>
			<div class="nav">
				<h3>Roux Meetups</h3>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="http://localhost:8080/create4" methods="GET">Speakers <img src="han/img/a.png"/></a></li>
					<li><a href="http://localhost:8080/create5" methods="GET">Feedback</a></li>
					<li><a href="http://localhost:8080/create3" methods="GET">Chat</a></li>
				</ul>
			</div>
		</nav>
		
		<footer>
			<h3>Roux Chat</h3>
			<div class="input">
			<span class="span1">Name</span>	 <input type="text" placeholder="Enter your name"/>
			<span class="span2">Message</span>	 <input type="text" class="in2" placeholder="Enter a message, then press ebter" /><button>Chat</button>
			</div>
			
			<textarea name="" rows="" cols="" placeholder="Welcome...add your message using the form above"></textarea>
			
		</footer>
		
		
	</body>
</html>
