<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../han/css/css7.css"/>
	</head>
	<body>
		<header></header>
		<nav>
			<div class="nav">
				<h3>Roux Meetups</h3>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Speakers <img src="han/img/a.png"/></a></li>
					<li><a href="#">Feedback</a></li>
					<li><a href="#">Chat</a></li>
				</ul>
			</div>
		</nav>
		<footer>
			<div class="footl">
				<h3>Send us feedback</h3>
				<p>Name</p>
				<input type="text" placeholder="Enter your name" />
				<p>Title</p>
				<input type="text" placeholder="Title of your feedback"/>
				<p>Message</p>
				<textarea name="" rows="" cols="" placeholder="Enter your message,then hit the submit"></textarea>
				<button>Sumbit</button>
			</div>
			<div class="footr">
				<h3>Recent Feedback</h3>
				<div class="li">
					<img src="han/img/x.png"/><span>aaa</span> <a href="#">aaaaaa</a>
					<p>ggggg</p>
				</div>
				<div class="li">
					<img src="han/img/x.png"/><span>I want to send message</span> <a href="#">green</a>
					<p>hhfajhfjahfjahfjaaaeaff</p>
				</div>
				<div class="li">
					<img src="han/img/x.png"/><span>Best Meetup Ever</span> <a href="#">Awesome</a>
					<p>waidjahau jdkajjhauh hafjahda d </p>
				</div>
				<div class="li">
					<img src="han/img/x.png"/><span>Mesting Time</span> <a href="#">Jane</a>
					<p>ahdahjd  oasjjahdj  ahdhkk6dkjk da
					dahdu  oadjadjd badf  kfnfkf kafai </p>
				</div>
				<div class="li">
					<img src="han/img/x.png"/><span>Great Speaker</span> <a href="#">Roy</a>
					<p>I djaraialdm lamdpj jadhjahd  jhajfj </p>
				</div>
			</div>
		</footer>
	</body>
</html>
