*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	height: 358px;
	background: url(../img/background.jpg)no-repeat;
	background-size: cover;
}
nav{
	height: 50px;
	background-color: #cf5565;
}
.nav{
	width: 1133px;
	height: 50px;
	margin: 0 auto;
	color: white;
	line-height: 50px;
}
.nav h3{
	float: left;
	font-weight: 100;
}
.nav ul{
	float: right;
}
.nav ul li{
	float: left;
	margin-left: 30px;
}
.nav ul li a{
	color: white;
}
footer{
	width: 1133px;
	height: 869px;
	margin:  0 auto;
}
.footl{
	float: left;
	width: 773px;
	height: 869px;
	padding-left: 10px;
	box-sizing: border-box;
}
.content h3{
	color: #c1343f;
	margin-top: 20px;
	font-size: 25px;
}
.content>p{
	font-size: 10px;
	color: #cc343f;
	margin-bottom: 10px;
}
.wen a{
	float: left;
	width: 749px;
	height: 500px;
	display: block;
	overflow: hidden;
	margin-right: 20px;
}
.wen a img{
	width: 100%;
}
.wen p{
	float: left;
	width: 749px;
	height: 160px;
	line-height: 26px;
	margin-top: 20px;
}

.footr{
	float: left;
	width:360px;
}
.footr h3{
	color: #c1343f;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 25px;
}
.footr ul{
	width:360px;
	margin-top: 25px;
}
.footr ul li{
	width: 110px;
	height: 109px;
	border-radius:3px ;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.footr ul li img{
	width: 100%;
}
